.create {
  display: flex;
  height: 90vh;
  margin-left: 250px;
  flex-direction: column;
  font-family: 'Solway', serif;
}

.title {
  width: 200px;
  font-size: 3rem;
}

.participant{
  background-color: #d4d4d4;
  width:400px;
  list-style: none;
  padding: 10px;
}

ul{
  padding-left: 0 !important;
  border-radius: 10px;

}



