.home {
  display: flex;
  height: 100vh;
  margin-left: 250px;
  flex-direction: column;
  font-family: 'Solway', serif;
}

.home-title {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

.thumbnail {
  width: 65%;
  height: 100%;
  border-radius: 10px;
}

.add-space {
  margin-bottom: 20px;
}

.header {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 0;
  height: 2px;
  background: #000;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
