.survey{
    display: flex;
    height: 90vh;
    margin-left: 250px;
    flex-direction: column;
    font-family: 'Solway', serif;
}

.survey-link{
    font-size: 30px;
    text-decoration: none;
}
.survey-link:hover{
    text-decoration:underline;
}